{% extends "base.twig" %}

    {% block title %}
    Welcome - HomePage
    {% endblock %}
    
{% block head%} {% endblock %}



{% block content %}


<div class="main">
{# <br> #}
{# <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ titles.title }}</li>
  </ol>
</nav> #}
{# <div class=main> #}

<div class="row">
    <div class="col">
    <b>Clientes</b>
    </div>
    <div class="col">
<div class="dropdown float-right">
{# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Buscar Cliente
</button> #}
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Opciones
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{ path_for('customerAdd') }}">Agregar Cliente</a>
        <a class="dropdown-item" href="#">Exportar a .xls</a>
        <a class="dropdown-item" href="#">Exportar a .pdf</a>
        <a class="dropdown-item" href="#">Imprimir</a>
    </div>
    </div>
    </div>
  </div>

{# 
<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon2">@</div>
    </div>
    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Buscar Cliente
</button>
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Opciones
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Agregar Cliente</a>
        <a class="dropdown-item" href="#">Exportar a .xls</a>
        <a class="dropdown-item" href="#">Exportar a .pdf</a>
        <a class="dropdown-item" href="#">Imprimir</a>
    </div>
    </div>
</div> #}


    <table class="table display-search table-hover table-nomargin table-bordered dataTable dataTable-column_filter" data-column_filter_types="null,select">
        <thead>
            <tr><th>{{ titles.lastname }} </th><th>{{ titles.surname }}</th><th>{{titles.names }}</th><th class = ".d-md-none .d-lg-block">{{titles.genre }}</th><th >{{titles.zipcode }}</th></tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                    <tr><td><a href="{{ path_for('customer', { 'id': customer.id}) }}">{{ customer.lastname|capitalize }}</a></td>
                    <td><a href="{{ path_for('customer', { 'id': customer.id}) }}">{{ customer.surname|capitalize }}</a></td>
                    <td><a href="{{ path_for('customer', { 'id': customer.person_id}) }}">{{ customer.name|capitalize }}</a></td>
                    <td class = ".d-md-none .d-lg-block"><a href="{{ path_for('customer', { 'id': customer.person_id}) }}">{{ customer.genre|capitalize }}</a></td>
                    <td><a href="{{ path_for('customer', { 'id': customer.person_id}) }}">{{ customer.zipcode }}</a></td>
                    </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>{{ titles.lastname }}
                </th>
                <th>{{ titles.surname }}</th>
                <th>{{titles.names }}</th>
            </tr>
        </tfoot>
    </table>
</div>

 {% endblock %}

